<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Classes">
  <ion-content class="">
    <ul class="list">
      <li class="item">3ème</li>
      <li class="item">2nd</li>
      <li class="item">1ère ES</li>
      <li class="item">1ère S</li>
      <li class="item">Terminale ES</li>
      <li class="item">Terminale S</li>
    </ul>
    <div class="tip padding"><center><i class="ion-ios-lightbulb-outline"></i> Tip: Après avoir selectioné la classe ajoutez des mots clés, puis clickez sur rechercher!</center></div>
  </ion-content>
</ion-view>
