<ion-view view-title="Latest">
<ion-nav-buttons side="primary">
      <button class="button help">
        <i class="ion-help"></i>
      </button>
    </ion-nav-buttons>
  <ion-content>
    <div class="list card" id="1">

      <div class="item">
        <h2 class="title">Loading</h2>
        <p class="desc">Loading</p>
      </div>

      <div class="item item-image">
        <img src="img/loader.svg" zoom-src="" zoom-view>
      </div>

      <a class="item item-icon-left assertive like">
        <i class="icon ion-thumbsup"></i>
        <p class="like-ct">Loading</p>
        <span class="id" id="1"></span>
      </a>

    </div>

    </div>
  </ion-content>
</ion-view>
