<ion-view view-title="Rechercher">
  <ion-content class="padding">
  <form>
   <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" class="query">
      </label>
    </div>
    <button class="button button-block button-positive search-btn">
      Rechercher
    </button>
  </form>
  <div class="search-output"><center><i class="ion-ios-lightbulb-outline"></i> Tip: clikez sur rechercher sans rien écrire pour montrer les posts avec le plus de likes!</center></div>
  </ion-content>
</ion-view>
