<ion-view view-title="Latest">
  <ion-content>
    <div class="list card" id="1">

      <div class="item">
        <h2 class="title">Title</h2>
        <p class="desc">Description</p>
      </div>

      <div class="item item-image">
        <img src="cover.jpg">
      </div>

      <a class="item item-icon-left assertive like">
        <i class="icon ion-thumbsup"></i>
        <p class="like-ct">0 Likes</p>
        <span class="id" id="1"></span>
      </a>

    </div>

    </div>
  </ion-content>
</ion-view>
