<ion-view view-title="Récent">
<ion-nav-buttons side="primary">
      <button class="button help" onclick="showHelp()">
        <i class="ion-help"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button info" onclick="showInfo()">
        <i class="ion-information"></i>
      </button>
    </ion-nav-buttons>
  <ion-content>
    <div class="list card" id="1">

      <div class="item">
        <h2 class="title">Chargement...</h2>
        <p class="desc">Chargement...</p>
      </div>

      <div class="item item-image">
        <img src="img/loader.svg">
      </div>

      <a class="item item-icon-left assertive like">
        <i class="icon ion-thumbsup"></i>
        <p class="like-ct">Chargement...</p>
        <span class="id" id="1"></span>
      </a>

    </div>

    </div>
  </ion-content>
</ion-view>
