<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active tabs-positive">

  <!-- Latest Tab -->
  <ion-tab title="Latest" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/tab/latest">
    <ion-nav-view name="tab-latest"></ion-nav-view>
  </ion-tab>

  <!-- Add post Tab -->
  <ion-tab title="Add Post" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/addpost">
    <ion-nav-view name="tab-addpost"></ion-nav-view>
  </ion-tab>
 

  <!-- Search Tab -->
   <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>


</ion-tabs>
